<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
        <link rel="stylesheet" href="/static/css/create-lobby.css">
        <script src="/static/js/get-cookie.js" defer></script>
        <script src="/static/js/create-lobby.js" defer></script>
    </head>
    <body>
        {% csrf_token %}
        <header>
            <a href="/"><img id="logo" src="/static/img/logo.png"></a>
            <div id="selected-quiz-div"></div>
            <div id="submit-quiz-div">
                <button id="submit-quiz-button" onclick="startMatch()">
                    Elige un KAJUT
                </button>
            </div>
        </header>
        <div id="main">
            <div id="quiz-list">
            </div>
        </div>
        <div id="lobby-wait-room">

        </div>
    </body>
</html>