<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Kajut</title>
        <link rel="stylesheet" href="/static/css/index.css">
        <script src="/static/js/index.js" defer></script>
    </head>
    <body>
        <header>
            <a href="/"><img id="logo" src="/static/img/logo.png"></a>
        </header>
        <main>
            <a class="button" href='create-quiz'><div><img src="/static/img/create-quiz.png"></div><p>Crear un nuevo kajut</p></a>
            <a class="button" href='create-lobby'><div><img src="/static/img/create-room.png"></div><p>Crear una nueva sala</p></a>
            <a class="button" href='join-game'><div><img src="/static/img/join-room.png"></div><p>Unirse a una sala</p></a>
        </main>
    </body>
</html>